<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/navigation.ejs') %>
  <body>
    <main>
      <% if(products.length > 0) {%>
        <ul>
          <% products.forEach(product => {%> 
            <li>
              <%=product.productData.title%> (<%=product.qty%>)
            </li>
            <%}) %>
        </ul>

        <%} else {%>
          <h1>Cart is empty!</h1>
          <%}%>
    </main>

<%- include('../includes/end.ejs') %>